$bg-white: #ffffff;
$bg-offwhite: #fbfbfb; 
$text-primary: #0f172a;
$brand-pink: #ec4899;
$border-gray: #e5e7eb;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$max-height: 100vh;


$font-base: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;